    body {
    padding-top: 50px;
    padding-bottom: 0px;
    background: #BFC7FF;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #2268b2;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#content-main {
    background: #EEEEEE;    
    border-bottom: 2px solid #064b94;
    border-top: 2px solid #064b94;
    padding: 50px 0px;
}
#login-form {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 600px;
}
.logo-admin {
    margin:0 auto 20px auto;
    display: block;
}
#login-form legend {
    border-color: transparent;
    color: #064b94;
}
#login-form .btn {  
    transition: background .3s ease-in-out;
}
.password-reset-link {
    margin-top: 20px;
}
.toggle-password:hover {
    cursor: pointer;
    background-color: #ddd;
}
.errornote {
    text-align: left;
}

 @media (max-width: 767px) {
    body {
        padding-top: 60px;
    }
    .form-row .password {
        margin-top: 15px;
    }
    #login-form {
        margin: 0 30px;
        width: auto;
    }
}